In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick 
import matplotlib.dates as mdates
from matplotlib.ticker import PercentFormatter, FuncFormatter
%matplotlib inline

import sqlalchemy

from cycler import cycler

import seaborn as sns
sns.set()

import regex as re
import nltk
from nltk import tokenize # word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag, ne_chunk 
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import os 
# environment settings
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)

In [2]:
os.getcwd()

'/Users/asyagadzhalova/Documents/GitHub/disaster_messages_classification/notebooks'

In [3]:
os.chdir('..')

In [4]:
#engine = sqlalchemy.create_engine('sqlite:///DisasterResponse.db')
df=pd.read_pickle(os.getcwd()+'/data/data.pkl')

In [5]:
df.head()

,id,message,original,genre,trans_ind,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
df.shape

(26180, 41)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26180 entries, 0 to 26179
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26180 non-null  int64
 1   message                 26180 non-null  object
 2   original                10153 non-null  object
 3   genre                   26180 non-null  object
 4   trans_ind               26180 non-null  int64
 5   related                 26180 non-null  int64
 6   request                 26180 non-null  int64
 7   offer                   26180 non-null  int64
 8   aid_related             26180 non-null  int64
 9   medical_help            26180 non-null  int64
 10  medical_products        26180 non-null  int64
 11  search_and_rescue       26180 non-null  int64
 12  security                26180 non-null  int64
 13  military                26180 non-null  int64
 14  child_alone             26180 non-null  int64
 15  water                   26180 non-null  int64
 16  food                    26180 non-null  int64
 17  shelter                 26180 non-null  int64
 18  clothing                26180 non-null  int64
 19  money                   26180 non-null  int64
 20  missing_people          26180 non-null  int64
 21  refugees                26180 non-null  int64
 22  death                   26180 non-null  int64
 23  other_aid               26180 non-null  int64
 24  infrastructure_related  26180 non-null  int64
 25  transport               26180 non-null  int64
 26  buildings               26180 non-null  int64
 27  electricity             26180 non-null  int64
 28  tools                   26180 non-null  int64
 29  hospitals               26180 non-null  int64
 30  shops                   26180 non-null  int64
 31  aid_centers             26180 non-null  int64
 32  other_infrastructure    26180 non-null  int64
 33  weather_related         26180 non-null  int64
 34  floods                  26180 non-null  int64
 35  storm                   26180 non-null  int64
 36  fire                    26180 non-null  int64
 37  earthquake              26180 non-null  int64
 38  cold                    26180 non-null  int64
 39  other_weather           26180 non-null  int64
 40  direct_report           26180 non-null  int64
dtypes: int64(38), object(3)
memory usage: 8.4+ MB

In [8]:
df.drop(columns=['original'],axis=1,inplace=True)

In [9]:
df.describe(include='object')

       message  genre
count    26180  26180
unique   26177      3
top     #NAME?   news
freq         4  13039

In [10]:
df.describe()

,id,trans_ind,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.0,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000,26180.000000
mean,15227.563942,0.386784,0.773568,0.170512,0.004507,0.414095,0.079488,0.050076,0.027655,0.017991,0.032811,0.0,0.063751,0.111421,0.088159,0.015432,0.023033,0.011383,0.033384,0.045531,0.131436,0.065126,0.045798,0.050840,0.020321,0.006073,0.010810,0.004584,0.011803,0.043965,0.278304,0.082086,0.093201,0.010772,0.093659,0.020168,0.052559,0.193430
std,8827.269301,0.487023,0.435351,0.376089,0.066986,0.492574,0.270504,0.218107,0.163985,0.132920,0.178146,0.0,0.244313,0.314659,0.283531,0.123264,0.150011,0.106083,0.179641,0.208470,0.337883,0.246753,0.209051,0.219676,0.141098,0.077696,0.103409,0.067549,0.108000,0.205021,0.448172,0.274500,0.290719,0.103228,0.291360,0.140578,0.223156,0.394995
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7449.750000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15665.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22927.250000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30265.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df['child_alone'].value_counts()

0    26180
Name: child_alone, dtype: int64

### Check for duplicated categories or constant categories

In [12]:
#find columns with the same value
col_list = []
for col in df.columns:
    if df[col].nunique()==1:
        col_list.append(col)

In [13]:
col_list

['child_alone']

In [14]:
#drop the category with only 0 values -> indicating there was not a message for child alone
df.drop(['child_alone'],axis=1,inplace=True)

In [17]:
#find columns that have 2 variables - all columns w/o messages should have 2 values
col_list2 = []
for col in df.columns:
    if df[col].nunique()==2:
        col_list2.append(col)

set(df.columns) - set(col_list2) #expect only messages, id and genre columns

{'genre', 'id', 'message', 'related'}

In [18]:
#related column has 3 values instead of 2
df['related'].value_counts()

1    19876
0     6116
2      188
Name: related, dtype: int64

In [23]:
pd.set_option('display.max_colwidth', None)
df[df['related']==0].head()

,id,message,genre,trans_ind,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
5,14,Information about the National Palace-,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,17,"I would like to receive the messages, thank you",direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,21,I am in Petionville. I need more information regarding 4636,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,28,are you going to call me or do you want me to call ou? let me know?,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,30,I don't understand how to use this thing 4636.,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
df.columns

Index(['id', 'message', 'genre', 'trans_ind', 'related', 'request', 'offer',
       'aid_related', 'medical_help', 'medical_products', 'search_and_rescue',
       'security', 'military', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [32]:
col_sum = ['related', 'request', 'offer',
       'aid_related', 'medical_help', 'medical_products', 'search_and_rescue',
       'security', 'military', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report']

In [28]:
df['related'][1]

1

In [26]:
len(df)

26180

#### Rows with all 0 categories
Those are actually the rows that represent the category - Not related. It is omitted, which is ok for classifiers like SVC&LogRegression, but if we use Tree methods, we will have to add it as additional column

In [33]:
list_rows_0 = []

for row in range(0,len(df)):
    k=0
    for col in col_sum:
        k +=df[col][row]
    if k == 0:
        list_rows_0.append(row)

In [35]:
#Number of rows without any category definition
len(list_rows_0)

6116

In [36]:
list_rows_0

[5,
 8,
 11,
 17,
 18,
 25,
 30,
 32,
 52,
 66,
 79,
 80,
 82,
 83,
 87,
 96,
 97,
 103,
 104,
 115,
 121,
 131,
 135,
 142,
 143,
 147,
 156,
 174,
 177,
 201,
 215,
 233,
 237,
 242,
 246,
 248,
 288,
 289,
 290,
 291,
 305,
 306,
 308,
 310,
 312,
 313,
 315,
 317,
 319,
 330,
 331,
 337,
 342,
 358,
 366,
 370,
 371,
 374,
 375,
 377,
 378,
 379,
 383,
 386,
 387,
 391,
 392,
 393,
 396,
 411,
 414,
 415,
 417,
 421,
 430,
 432,
 446,
 452,
 456,
 457,
 461,
 462,
 463,
 465,
 466,
 467,
 472,
 474,
 478,
 480,
 484,
 487,
 489,
 490,
 493,
 498,
 503,
 504,
 506,
 508,
 515,
 518,
 537,
 542,
 546,
 552,
 581,
 587,
 589,
 597,
 601,
 605,
 612,
 614,
 615,
 622,
 625,
 627,
 635,
 661,
 667,
 669,
 670,
 676,
 678,
 691,
 699,
 702,
 703,
 707,
 710,
 713,
 720,
 723,
 733,
 735,
 747,
 756,
 827,
 829,
 832,
 843,
 857,
 882,
 883,
 888,
 898,
 899,
 902,
 905,
 907,
 915,
 916,
 942,
 943,
 946,
 947,
 952,
 954,
 969,
 973,
 976,
 981,
 982,
 989,
 999,
 1000,
 1004,
 1005,
 1011,
 1012,
 1014,
 1020,
 1022,
 1023,
 1041,
 1042,
 1049,
 1065,
 1067,
 1069,
 1079,
 1085,
 1096,
 1106,
 1108,
 1116,
 1118,
 1128,
 1129,
 1130,
 1134,
 1138,
 1139,
 1144,
 1147,
 1152,
 1156,
 1157,
 1169,
 1172,
 1180,
 1187,
 1193,
 1198,
 1201,
 1213,
 1222,
 1224,
 1227,
 1229,
 1239,
 1245,
 1251,
 1256,
 1260,
 1263,
 1266,
 1267,
 1271,
 1280,
 1281,
 1284,
 1285,
 1286,
 1292,
 1296,
 1299,
 1309,
 1311,
 1318,
 1325,
 1326,
 1331,
 1334,
 1335,
 1347,
 1349,
 1357,
 1358,
 1368,
 1373,
 1379,
 1380,
 1381,
 1384,
 1385,
 1386,
 1387,
 1390,
 1397,
 1398,
 1401,
 1406,
 1411,
 1412,
 1413,
 1414,
 1415,
 1417,
 1418,
 1422,
 1424,
 1426,
 1427,
 1429,
 1430,
 1431,
 1434,
 1442,
 1443,
 1445,
 1448,
 1452,
 1453,
 1455,
 1457,
 1464,
 1468,
 1469,
 1471,
 1474,
 1479,
 1482,
 1490,
 1516,
 1521,
 1522,
 1523,
 1524,
 1525,
 1527,
 1528,
 1536,
 1546,
 1549,
 1550,
 1554,
 1557,
 1558,
 1561,
 1565,
 1567,
 1569,
 1571,
 1574,
 1575,
 1576,
 1578,
 1581,
 1582,
 1584,
 1586,
 1588,
 1591,
 1592,
 1593,
 1600,
 1606,
 1607,
 1608,
 1613,
 1615,
 1616,
 1620,
 1624,
 1629,
 1632,
 1633,
 1635,
 1640,
 1649,
 1652,
 1654,
 1658,
 1661,
 1662,
 1663,
 1666,
 1670,
 1686,
 1693,
 1706,
 1708,
 1709,
 1711,
 1713,
 1714,
 1715,
 1717,
 1729,
 1730,
 1732,
 1733,
 1734,
 1738,
 1739,
 1740,
 1741,
 1754,
 1762,
 1763,
 1769,
 1773,
 1775,
 1778,
 1782,
 1784,
 1789,
 1796,
 1798,
 1800,
 1806,
 1815,
 1821,
 1834,
 1851,
 1853,
 1856,
 1858,
 1860,
 1861,
 1864,
 1868,
 1876,
 1877,
 1882,
 1886,
 1896,
 1904,
 1914,
 1915,
 1916,
 1918,
 1921,
 1925,
 1926,
 1928,
 1935,
 1944,
 1945,
 1946,
 1947,
 1949,
 1951,
 1953,
 1955,
 1958,
 1960,
 1965,
 1968,
 1979,
 1981,
 1982,
 1985,
 1990,
 1991,
 1998,
 1999,
 2000,
 2001,
 2003,
 2005,
 2026,
 2028,
 2029,
 2030,
 2031,
 2033,
 2036,
 2038,
 2043,
 2044,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2058,
 2062,
 2080,
 2097,
 2098,
 2108,
 2109,
 2110,
 2113,
 2117,
 2119,
 2121,
 2125,
 2137,
 2140,
 2141,
 2147,
 2150,
 2151,
 2153,
 2161,
 2162,
 2169,
 2170,
 2175,
 2177,
 2181,
 2185,
 2190,
 2208,
 2209,
 2211,
 2222,
 2224,
 2239,
 2241,
 2260,
 2261,
 2262,
 2264,
 2274,
 2275,
 2293,
 2295,
 2312,
 2316,
 2319,
 2323,
 2332,
 2340,
 2348,
 2349,
 2354,
 2355,
 2371,
 2383,
 2386,
 2397,
 2405,
 2406,
 2410,
 2425,
 2428,
 2433,
 2438,
 2443,
 2444,
 2449,
 2454,
 2457,
 2463,
 2467,
 2480,
 2487,
 2488,
 2489,
 2491,
 2492,
 2493,
 2494,
 2502,
 2504,
 2517,
 2523,
 2524,
 2526,
 2528,
 2534,
 2536,
 2539,
 2544,
 2548,
 2553,
 2555,
 2562,
 2565,
 2572,
 2574,
 2581,
 2596,
 2609,
 2613,
 2630,
 2634,
 2635,
 2643,
 2651,
 2652,
 2658,
 2669,
 2673,
 2679,
 2680,
 2687,
 2707,
 2711,
 2715,
 2716,
 2725,
 2726,
 2728,
 2753,
 2754,
 2758,
 2760,
 2761,
 2767,
 2769,
 2773,
 2778,
 2790,
 2793,
 2806,
 2824,
 2841,
 2848,
 2850,
 2861,
 2873,
 2880,
 2888,
 2898,
 2900,
 2908,
 2914,
 2920,
 2927,
 2935,
 2947,
 2955,
 2956,
 2957,
 2958,
 2959,
 2966,
 2978,
 2981,
 2985,
 2987,
 2988,
 2990,
 2993,
 3007,
 3008,
 3015,
 3019,
 3027,
 3034,
 3035,
 3046,
 3050,
 3051,
 3056,
 3059,
 3061,
 3062,
 3069,
 3073,
 3078,
 3079,
 3081,
 3085,
 3095,
 3098,
 3102,
 3104,
 3107,
 3108,
 3112,
 3113,
 3120,
 3123,
 3126,
 3127,
 3131,
 3132,
 3138,
 3139,
 3146,
 3152,
 3154,
 3161,
 3173,
 3174,
 3180,
 3185,
 3188,
 3196,
 3200,
 3204,
 3207,
 3215,
 3221,
 3222,
 3234,
 3235,
 3244,
 3254,
 3255,
 3258,
 3262,
 3263,
 3264,
 3269,
 3274,
 3278,
 3282,
 3285,
 3286,
 3287,
 3288,
 3291,
 3294,
 3308,
 3329,
 3331,
 3333,
 3334,
 3339,
 3340,
 3341,
 3359,
 3362,
 3363,
 3367,
 3368,
 3369,
 3371,
 3375,
 3376,
 3377,
 3382,
 3385,
 3386,
 3388,
 3391,
 3394,
 3397,
 3400,
 3404,
 3405,
 3407,
 3414,
 3416,
 3417,
 3421,
 3429,
 3430,
 3432,
 3435,
 3436,
 3437,
 3441,
 3443,
 3446,
 3448,
 3450,
 3451,
 3457,
 3459,
 3460,
 3464,
 3465,
 3466,
 3471,
 3478,
 3490,
 3491,
 3492,
 3497,
 3500,
 3501,
 3502,
 3505,
 3506,
 3509,
 3514,
 3515,
 3516,
 3517,
 3522,
 3523,
 3535,
 3538,
 3542,
 3548,
 3553,
 3562,
 3563,
 3581,
 3582,
 3584,
 3585,
 3592,
 3594,
 3597,
 3602,
 3604,
 3605,
 3609,
 3611,
 3613,
 3617,
 3621,
 3622,
 3623,
 3626,
 3628,
 3638,
 3649,
 3650,
 3657,
 3659,
 3666,
 3667,
 3668,
 3669,
 3670,
 3675,
 3679,
 3686,
 3687,
 3688,
 3694,
 3705,
 3713,
 3720,
 3721,
 3723,
 3727,
 3739,
 3746,
 3747,
 3756,
 3759,
 3763,
 3765,
 3769,
 3778,
 3780,
 3782,
 3787,
 3799,
 3800,
 3801,
 3804,
 3805,
 3809,
 3812,
 3813,
 3817,
 3818,
 3820,
 3821,
 3830,
 3849,
 3850,
 3864,
 3865,
 3870,
 3878,
 3882,
 3883,
 3889,
 3892,
 3897,
 3900,
 3903,
 3904,
 3908,
 3911,
 3914,
 3915,
 3917,
 3930,
 3939,
 3940,
 3948,
 3949,
 3951,
 3954,
 3955,
 3957,
 3960,
 3962,
 3969,
 3970,
 3975,
 3980,
 3985,
 3987,
 3989,
 3990,
 3991,
 3992,
 3993,
 3998,
 4005,
 4006,
 4008,
 4022,
 4023,
 4026,
 4031,
 4037,
 4040,
 4049,
 4055,
 4057,
 4062,
 4065,
 4069,
 4070,
 4085,
 4091,
 4092,
 4098,
 4102,
 4105,
 4106,
 4107,
 4123,
 4124,
 4126,
 4128,
 4135,
 4140,
 4144,
 4146,
 4150,
 4153,
 4154,
 4155,
 4157,
 4159,
 4163,
 4165,
 4166,
 4174,
 4175,
 4178,
 4180,
 4181,
 4183,
 4186,
 4188,
 4189,
 4191,
 4194,
 4195,
 4196,
 4202,
 4208,
 4214,
 4215,
 4218,
 4219,
 4229,
 4233,
 4234,
 4239,
 4240,
 4241,
 4245,
 4246,
 4250,
 4252,
 4255,
 4258,
 4259,
 4262,
 4265,
 4268,
 4270,
 4272,
 4275,
 4292,
 4293,
 4299,
 4300,
 4312,
 4328,
 4334,
 4339,
 4344,
 4350,
 4369,
 4372,
 4379,
 4382,
 4386,
 4388,
 4391,
 4399,
 4400,
 4401,
 4402,
 4406,
 4407,
 4410,
 4411,
 4414,
 4415,
 4417,
 4420,
 4421,
 4427,
 4430,
 4431,
 4433,
 4435,
 4442,
 4444,
 4445,
 4446,
 4449,
 4450,
 4457,
 4463,
 4467,
 4468,
 4472,
 4473,
 4475,
 4477,
 4483,
 4484,
 4490,
 4492,
 4502,
 4513,
 4514,
 4515,
 4519,
 4521,
 4522,
 4523,
 4528,
 4529,
 4533,
 4539,
 ...]

In [38]:
df.iloc[5]

id                                                            14
message                   Information about the National Palace-
genre                                                     direct
trans_ind                                                      1
related                                                        0
request                                                        0
offer                                                          0
aid_related                                                    0
medical_help                                                   0
medical_products                                               0
search_and_rescue                                              0
security                                                       0
military                                                       0
water                                                          0
food                                                           0
shelter                                                        0
clothing                                                       0
money                                                          0
missing_people                                                 0
refugees                                                       0
death                                                          0
other_aid                                                      0
infrastructure_related                                         0
transport                                                      0
buildings                                                      0
electricity                                                    0
tools                                                          0
hospitals                                                      0
shops                                                          0
aid_centers                                                    0
other_infrastructure                                           0
weather_related                                                0
floods                                                         0
storm                                                          0
fire                                                           0
earthquake                                                     0
cold                                                           0
other_weather                                                  0
direct_report                                                  0
Name: 5, dtype: object